KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET95FHK", SYMLINK+="DDF0"

KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET959PI", SYMLINK+="DDF1"

KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET959PG", SYMLINK+="DDF2"

KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET959PE", SYMLINK+="DDF3"

KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET956N9", SYMLINK+="DDF4"

KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET956N7", SYMLINK+="DDF5"

KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET956N4", SYMLINK+="DDF6"

KERNEL=="ttyUSB?", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{manufacturer}=="1E", ATTRS{product}=="DDF Module", ATTRS{serial}=="1ET956N2", SYMLINK+="DDF7"

