<dancefloor>
	<framerate>1</framerate>
	<modules>
		<module>
			<address>/dev/DDF0</address>
			<origin>(0,0)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>/dev/DDF1</address>
			<origin>(0,4)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>/dev/DDF2</address>
			<origin>(0,8)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>/dev/DDF3</address>
			<origin>(0,12)</origin>
			<size>(16,4)</size>
		</module>
		
		<module>
			<address>/dev/DDF4</address>
			<origin>(0,16)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>/dev/DDF5</address>
			<origin>(0,20)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>/dev/DDF6</address>
			<origin>(0,24)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>/dev/DDF7</address>
			<origin>(0,28)</origin>
			<size>(16,4)</size>
		</module>

	</modules>
</dancefloor>
