<dancefloor>
	<framerate>30</framerate>
	<modules>
		<module>
			<address>serial:/dev/DDF0</address>
			<origin>(0,0)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/DDF1</address>
			<origin>(0,4)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/DDF2</address>
			<origin>(0,8)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/DDF3</address>
			<origin>(0,12)</origin>
			<size>(16,4)</size>
		</module>
		
		<module>
			<address>serial:/dev/DDF4</address>
			<origin>(0,16)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/DDF5</address>
			<origin>(0,20)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/DDF6</address>
			<origin>(0,24)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/DDF7</address>
			<origin>(0,28)</origin>
			<size>(16,4)</size>
		</module>

	</modules>
	<ipwhitelist>
		<string>127.0.0.1</string>
		<string>18.238.2.229</string>
	</ipwhitelist>
</dancefloor>
