<dancefloor>
	<maxfps>32</maxfps>
	<modules>
		<module>
			<address>serial:/dev/USB7</address>
			<origin>(0,0)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/USB6</address>
			<origin>(0,4)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/USB5</address>
			<origin>(0,8)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/USB4</address>
			<origin>(0,12)</origin>
			<size>(16,4)</size>
		</module>
		
		<module>
			<address>serial:/dev/USB3</address>
			<origin>(0,0)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/USB2</address>
			<origin>(0,4)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/USB1</address>
			<origin>(0,8)</origin>
			<size>(16,4)</size>
		</module>
		<module>
			<address>serial:/dev/USB0</address>
			<origin>(0,12)</origin>
			<size>(16,4)</size>
		</module>

	</modules>
	<ipwhitelist>
		<string>127.0.0.1</string>
		<string>18.238.2.229</string>
	</ipwhitelist>
</dancefloor>
